<div class="flex flex-col gap-2 rounded-lg bg-white p-6 shadow">
	<h5 class="mb-2 text-xl font-bold text-gray-900">Login Here</h5>

	<form
		action=""
		[formGroup]="loginForm"
		(ngSubmit)="onSubmit()"
		autocomplete="off"
		novalidate
	>
		<div class="form-group mb-3">
			<label for="email">Email Address</label>
			<input
				id="email"
				type="text"
				placeholder="Email Address"
				class="form-control"
				formControlName="email"
				[class]="{
					invalid:
						loginForm.get('email')?.hasError('required') &&
						loginForm.get('email')?.touched,
					valid: loginForm.get('email')?.valid,
				}"
			/>
			@if (
				loginForm.get("email")?.hasError("required") &&
				loginForm.get("email")?.touched
			) {
				<span class="form-error">Email Address is required.</span>
			}
		</div>

		<div class="form-group mb-3">
			<label for="password">Password</label>
			<input
				id="password"
				type="password"
				placeholder="Password"
				class="form-control"
				formControlName="password"
				[class]="{
					invalid:
						loginForm.get('password')?.hasError('required') &&
						loginForm.get('password')?.touched,
					valid: loginForm.get('password')?.valid,
				}"
			/>
			@if (
				loginForm.get("password")?.hasError("required") &&
				loginForm.get("password")?.touched
			) {
				<span class="form-error">Password is required.</span>
			}
		</div>

		<div class="flex items-center justify-between gap-3">
			<button class="btn btn-primary">Submit</button>
			<a (click)="navigateTo('register')" class="cursor-pointer underline text-slate-400">Create an account here</a>
		</div>
	</form>
</div>
