<div class="grid h-screen md:grid-cols-2 grid-cols-1">
	<div class="hidden md:flex flex-col justify-center gap-4 bg-blue-600 ps-28">
		<h1 class="text-3xl font-bold text-blue-100">Todo Management</h1>

		<p class="max-w-md text-xl text-blue-300">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut
			scelerisque nisi purus, vitae blandit nisl egestas eu. Pellentesque
			placerat, felis non convallis condimentum, libero erat ullamcorper
			dolor, eget posuere sapien odio eget erat. Duis volutpat sodales
			velit at euismod. Sed ut neque leo quis.
		</p>
	</div>

	<div class="flex w-full items-center justify-center">
		<div class="lg:w-1/2 px-2">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
